/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* http://meyerweb.com/eric/tools/css/reset/*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
  overflow: auto;
}
/* http://meyerweb.com/eric/tools/css/reset/*/
/* HTML5 display-role reset for older browsers */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(0, 0, 0);;
  background-color: #fff;
	font-size: 100%;
  background-color: none;
}

h1, nav.navigation{
  margin: 4%;
}

#center-gallery h1, h2, h3, h4, h5, h6, section p, section li{
  width: 100%;
}

#center-section h1, h2, h3, h4, h5, h6, section p, section li{
  margin-left: 4%;
  width: 92%;
}

h1 {
  font-size: 300%;
  position: relative;
  color: rgb(0, 0, 0);;
  cursor: auto;
}

header a:hover {
  text-decoration: none;
}

span.logo img{
  position: absolute;
  right: 1%;
  top: 0px;
  margin-top: 22px;
  padding-top: 2%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, section p{
  padding: 1%;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}


h4, h5, h6, {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  padding-top: 4%;
  font-size: 30px;
  text-decoration: underline;
}

h3 {
  font-size: 25px;
}

h4{
  font-size: 20px;
  padding-top: 4%;

}

h5 {
  font-size: 18px;
}

/* nav stlying */
nav a{
  display: block;
  font-size: 1rem;
	color: rgb(76, 0, 49);;
  border-right: 6px solid rgb(83, 1, 125);;
	border-bottom: 6px solid rgb(61, 1, 52);;
	border-radius: 5px;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 100;
}

nav li.primary a {
  background-color: #fff;;
  color: rgb(76, 0, 49);;
  cursor: default;
}

nav li.primary a:hover {
  background-image: url("../static/nkbackground2.jpg");
  background-repeat: repeat;
  color: #fff !important;;
  text-decoration: none;
  border-right: 6px solid black;;
  border-bottom: 6px solid black;;
}


li a.active {
  background-image: url("../static/nkbackground.jpg");
  background-repeat: repeat;
  color: rgb(255, 186, 255) !important;;
}


/* Sub Menus */
nav li ul {
	display: none;
}

nav li:hover ul {
  display: block;;
}
/* Sub Menus */

ul.social li a {
  background-color: #fff;
  width: 100%;
}

ul.social li a {
  color: rgb(76, 0, 49);;
  cursor: auto;
}

ul.social li a:hover {
  color: #fff;;
}
/* nav stlying */

/* sections */
section ul {
	list-style-type: disc;
  list-style-position: inside;
  padding-left: 2%;
}

section.project2section {
  overflow: auto;
  margin: 0;
}

section.project2section img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

div.myResume {
  background-color: #fff;
  margin-right: 4%;
  margin-left: 4%;
}

#project2text{
  display: block;
  text-align: left;
  width: 50%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.project1-images {
  display: block;
  background-color: #fff;
  margin-right: 9%;
  margin-left: 9%;
  margin-top: 2%;
  margin-bottom: 2%;
  clear: both;
  text-align: center;
}

div.project1-images img {
  display:inline-block;
}


div.slideshow {
  padding: 10%;
}
	/* Safari and Chrome */
	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;

}

section {
  background-color: rgba(225, 146, 255, 0.5);;
  height: 100%;
}

p.top a, a.footerstyle {
  display: none;
}

/* sections */
/* footer */

footer{
	clear: both;
	text-align:center;
  padding: 4%;
  border: none;
}

div.footerdirectory a {
  color: rgb(76, 0, 49);;
}

footer p{
  color: rgb(255, 186, 255);;
}


div.footerdirectory a {
  display: inline;
}

/* footer */

@media screen and (min-width: 700px) {

body {
  background: #fff;
  color: black;;
  background-image: url("../static/nkbackground2.jpg") ;
  background-repeat: repeat-y;
}

h1 {
  padding-left: 4%;
  background-color: rgba(255,255,255,.7);
  margin-left: 0;
  margin-right: 0;
  color: black;;
}

span.logo img{
  padding-right: 3%;
}

#center-section img {
  padding-top: 2.4%;
}

#center-section h1, h2, h3, h4, h5, h6, section p, section li{
  margin-left: 4%;
  width: 92%;
}

nav a {
  background-color: #fff;
  border-right: 6px solid black;;
  border-bottom: 6px solid black;;
}


nav.navigation {
  padding-bottom: 4%;
}

nav li.primary {
  display: inline-block;
  width: 14.2%;
  float: left;

}

nav li.primary a:hover {
  background-image: none;
  background-image: url("../static/nkbackground.jpg");
  background-repeat: repeat;
  color: rgb(255, 186, 255) !important;;
  border-right: 6px solid rgb(83, 1, 125);;
  border-bottom: 6px solid rgb(61, 1, 52);;
}

nav li.primary a {
  background-color: #fff;
  color: black;;
}

li.primary ul {
  width: 18.25%;
}

li a.active {
  background-image: url("../static/nkbackground2.jpg") ;
  background-repeat: repeat;
  color: #fff !important;;

}

nav a {
  text-align: center;
}

nav li:hover ul {
  position: absolute;

}

div.social li a {
  display: none;
}

section {
  background-color: #fff;;
  clear: both;
  display: block;
  background-size: auto 100%;
  margin: 0;
}

div.project1-images img:hover {
	transform:scale(2,2);
	transform-origin:0 0;
}

#art-work {
  display: block;
}

#carousel-example-generic {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#carousel-example-generic img{
  margin-left: auto;
  margin-right: auto;
}

#center-section {
  overflow: auto;
  margin: 0;
}

#center-section img {
  float: left;
  margin: 4%;
}

section.project2section img {
  float: right;
  margin-right: 4%;
}

section#center img{
  padding: 2%;
}


div.about-style{
  display: inline;
}

a.resumelink, p.top a, a.footerstyle {
  display: inline;
  color: black;;
}


footer {
  margin-top: 4%;
  background-color: rgba(255,255,255,.7);
}


div.footerdirectory a, footer p{
  color: black;
}

a.resumelink:hover, p.top a:hover, a.footerstyle:hover, a.plink{
  color: rgb(76, 0, 49);;
}

}

@media screen and (min-width: 992px) {

body {
  background-image: none;
  color: rgb(76, 0, 49);
}

h1{
  color: rgb(76, 0, 49);
}

section {
  background-color: rgba(225, 146, 255, 0.5);
}


ul.social li a {
  display: none;
  width: 25%;
}

nav a {
  border-right: 6px solid rgb(83, 1, 125);;
  border-bottom: 6px solid rgb(61, 1, 52);;
}

nav li.primary a:hover {
  background-image: url("../static/nkbackground2.jpg");
  background-repeat: repeat;
  border-right: 6px solid black;;
  border-bottom: 6px solid black;;
  color: #fff !important;
}

nav li.primary a{
  background-color: #fff;
  color: rgb(76, 0, 49);

}

li a.active{
  background-image: url("../static/nkbackground.jpg");
  background-repeat: repeat;
  color: rgb(255, 186, 255) !important;
}

div.footerdirectory a {
  color: rgb(76, 0, 49);;
}


footer p{
  color: rgb(255, 186, 255);;
}

}
