{% extends "base.html" %}
  {% block content %}
    <div class = "center">
      <section id = "center-section">
        <img src ="static/about-image.jpg" alt ="Picture of boxes of media items"/>
          <h2>About the Collection</h2>
          <p>I began collecting examples of media formats in early 2006, and now have at least one example of over 360 different types covering audio, video and data, with lots more identified that I have yet to collect.</p>
          <p>In 2014, I began to collect film formats.</p>
          <p>For reasons of space and cost, the Museum does not contain the devices needed to use the formats.</p>
          <h3>The reasons for starting the Museum</h3>
          <p>When I first started collecting examples of obsolete (or soon to be obsolete) formats, it was mainly as a way of having tangible examples of formats that I had known and used. Many of the formats I had grown up with, such as video tapes, music cassettes and floppy disks were quickly disappearing, sometimes to be replaced by other formats, but increasingly with no physical format at all, as content is increasingly delivered over the internet.</p>
          <p>As the collection grew, I became aware of more and more formats that I had never even heard of, and the urge grew to collect all of these. The collection will never be completed as many formats are so rare, and it’s difficult even to find information about some of them. This is partly what has made it more interesting, the chance discovery of an example of something I’ve been looking for for ages, or more often the discovery of something I’d never even heard of.</p>
          <p>As a librarian by profession, I wanted a means to organise the collection, to document it properly and to make it discoverable in different ways, through lists, images, tags and so on. The creation of this website in 2013 allowed me to do this both to satisfy my own desire for order, but also to satisfy a sense of responsibility I felt having collected so many formats, including some unusual and rare exhibits, to share the collection with the wider world.</p>
      </section>
    </div>
  {% endblock %}
