{% extends "base.html" %}
  {% block content %}
    <div class = "center">
      <section id = "center-section">
        <div class = "about-style">
          <h2>Audio Formats</h2>
          <p>Music and voice recording and playback formats from the 1880s onwards. Some current, most long obsolete. Includes phonograph cylinders and discs, magnetic tapes, optical discs, memory cards, and a few other oddities.</p>
          <p>Dates are approximate and refer to availability in the UK or Europe where known, otherwise for US or elsewhere.</p>
        </div>
      </section>
    </div>
  {% endblock %}
