{% extends "base.html" %}
  {% block content %}
    <div class = "center-specific-background">
      <section id = "center-specific">
        <img src ="static/noakas2.jpg" alt ="Picture of Noa Kasman working on a computer"/>
        <div class = "about-style">
          <h2>About me...</h2>
          <p>I grew up in New York City and studied cultural anthropology and art history at Mount Holyoke College. Material culture classes, museum internships, and two years spent working with a photographer's archive lead to my UMSI application.</p>
          <p>I believe the past is shaped as much by objects we discard as by those we save. Archivists are critical to a dynamic that links culture, memory, and history. They assign artifacts value, make them accessible, and steward them through rapid technological changes. My exposure to this process as a digital image archivist motivates my interest in taking an active role shaping archival practices. As a graduate student at the University of Michigan’s School of Information (UMSI), I hope to deepen my understanding of digital archiving and build skills that will allow me to implement changes to the management of born-digital content.</p>
          <h3>Thanks for stopping by.</h3>
        </div>
      </section>
    </div>
  {% endblock %}
