<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/GroupStyle.css"/>
</head>

<body id="top">
  <header>
  <a href="/index"><h1 id="title">Museum of<br/>Obsolete Media</h1></a>
  <span class="logo"><a href="/index"><img src ="static/tape.jpg" alt = "Noa Kasman Logo"/></a></span>
  <nav class ="navigation">
    <ul>
      <li class = "primary"><a href="/about"
        {% if name == "About" %}
              class = "active"
              {% endif %}
          >about</a></li>
      <li class = "primary"><a href="/audio"
        {% if name == "Audio Formats" %}
              class = "active"
              {% endif %}
          >audio formats</a></li>
      <li class = "primary"><a href="/video"
        {% if name == "Video Formats" %}
              class = "active"
              {% endif %}
          >video formats</a></li>
      <li class = "primary"><a href="/data"
        {% if name == "Data Formats" %}
              class = "active"
              {% endif %}
          >data formats</a></li>
      <li class = "primary"><a href="/film"
        {% if name == "Film Formats" %}
              class = "active"
              {% endif %}
          >film formats</a></li>
      <li class = "primary"><a href="/galleries"
        {% if name == "Galleries" %}
              class = "active"
              {% endif %}
          >galleries</a></li>
      <li class = "primary"><a href="/news"
        {% if name == "News" %}
              class = "active"
              {% endif %}
          >news</a></li>
      <ul>
        <div class ="social">
          <li class = "primary"><a href="mailto:noakasman@gmail.com?subject=Inquiry" alt ="Email Icon"><i class="fa fa-envelope"></i></a></li>
        </div>
      </ul>
    </ul>
  </nav>
  </header>
    {% block content %}
    thisshouldnotshow
    {% endblock %}
  <footer>
  <div class="footerdirectory">
    <a href= "/about">about</a>
    <a href="/audio">audio formats</a>
    <a href="/video">video formats</a>
    <a href= "/data">data formats</a>
    <a href="/film">film formats</a>
    <a href="/galleries">galleries</a>
    <a href="/news">news</a>
  </div>
    <p><i class="fa fa-copyright"></i> Jason Curtis</p>
    <a href="mailto:noakasman@gmail.com?subject=Inquiry" class = "footerstyle"><i class="fa fa-envelope"></i></a>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>
