{% extends "base.html" %}
  {% block content %}
  <div class = "center">
    <section id = "center-section">
      <div class = "about-style">
        <h2>Data Formats</h2>
        <p>From Jacquard Loom cards to PlayStation Vita memory cards, the history of data storage on removable media. Comprising punched cards, disks, ROM cartridges, memory cards, magnetic tape and more.</p>
        <p>Dates are approximate and refer to availability in the UK or Europe where known, otherwise for US or elsewhere.</p>
      </div>
    </section>
  </div>
  {% endblock %}
