{% extends "base.html" %}
  {% block content %}
    <div class = "center-specific-background">
      <section id = "center">
        <h2>Current Projects</h2>
        <p>Preservation concerns for digital content are vastly different than those for analog content. A photographic negative could be left untouched for years and still have the physical integrity to be viewed and manipulated. A digital image left on a hard-drive could cease to exist with the transient life of its home or file format. <a href="http://www.datainnovation.org/2014/07/5-qs-for-dr-francine-berman-chair-research-data-allianceu-s/" class="plink">Dr. Francine Berman</a>, a leader in digital data preservation, has described the concern of “developing, maintaining, and sustaining the infrastructure” necessary to preserve assets as the “Achilles’ heel” of data-driven research and innovation. Without sustaining an infrastructure that supports digital preservation — through community standards, technical components, and the oversight of information professionals — we risk complete loss of our assets.</p>
        <p>Since starting the UMSI program I have focused my studies on digital image preservation. These studies have been complimented by several projects.</p>
        <div class="myCurrentProjects">
          <h4><a href = "/project1" class="project1link"> Digitization: Kasman Family Archive</a></h4>
          <h4><a href = "/project2" class="project2link"> Digitization: William L. Clements Library</a></h4>
          <p class="top"><a href="#top">*****</a></p>
        </div>
      </section>
    </div>
  {% endblock %}
