{% extends "base.html" %}
  {% block content %}
  <div class = "center">
    <section id = "center-section">
      <img src ="static/film-formats-main.png" alt ="Film"/>
        <h2>Film Formats</h2>
        <p>Film formats for still photography and motion picture recording and playback.</p>
        <p>Dates are approximate and refer to availability in the UK or Europe where known, otherwise for US or elsewhere.</p>
      <div class = "film-formats">
        <img src ="static/replace.png" alt ="Martin Kasman and a woman, April 1942"/>
        <img src ="static/replace.png" alt ="Martin Kasman and three women, April 1942"/>
        <img src ="static/replace.png" alt ="Friend of Martin Kasman"/>
        <img src ="static/replace.png" alt ="Friend of Martin Kasman in uniform, November 1943"/>
        <img src ="static/replace.png" alt ="Friend of Martin Kasman in uniform"/>
        <img src ="static/replace.png" alt ="Martin Kasman and a friend posing in ther navy uniforms behind bars that read 'Tijuana Jail'"/>
      </div>
    </section>
  </div>
  {% endblock %}
