<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/test.css"/>
</head>
<body>
	<div class="exhibit">
	<div class="frame">
	<div class="tableau">
    	<span class="helper"></span>
    	<img class="specimen" id="vhs" src="static/vhs.jpg" alt="VHS">
	</div>
	</div>
	<div class="plaque"><p>VHS</p></div>
	</div>
	<div class="exhibit">
	<div class="frame">
	<div class="tableau">
    	<span class="helper"></span>
    	<img class="specimen" id="vhs" src="static/vhs.jpg" alt="VHS">
	</div>
	</div>
	<div class="plaque"><p>VHS</p></div>
	</div>
	<div class="exhibit">
	<div class="frame">
	<div class="tableau">
    	<span class="helper"></span>
    	<img class="specimen" id="vhs" src="static/vhs.jpg" alt="VHS">
	</div>
	</div>
	<div class="plaque"><p>VHS</p></div>
	</div>
</body>