{% extends "base.html" %}
  {% block content %}
    <section id = "center" class = "project1section">
      <div class = "project1text">
        <h2>Digitization:<br/>Kasman Family Archive</h2>
        <ul>
        <li>Digitize photographic collections</li>
        </ul>
        <p>I am currently digitizing a collection of family photos from the 1940s.</p>
      </div>
      <div class = "project1-images">
        <img src ="static/family-1.jpg" alt ="Martin Kasman and a woman, April 1942"/>
        <img src ="static/family-2.jpg" alt ="Martin Kasman and three women, April 1942"/>
        <img src ="static/family-3.jpg" alt ="Friend of Martin Kasman"/>
        <img src ="static/family-4.jpg" alt ="Friend of Martin Kasman in uniform, November 1943"/>
        <img src ="static/family-5.jpg" alt ="Friend of Martin Kasman in uniform"/>
        <img src ="static/family-6.jpg" alt ="Martin Kasman and a friend posing in ther navy uniforms behind bars that read 'Tijuana Jail'"/>
        <img src ="static/family-7.jpg" alt ="Martin Kasman and a shirtless friend"/>
        <img src ="static/family-8.jpg" alt ="Martin Kasman in front of the Kasman Kosher Deli in Brooklyn, August 1942"/>
        <img src ="static/family-9.jpg" alt ="Martin Kasman writting shirtless on a lawn chair, July 1942"/>
        <img src ="static/family-10.jpg" alt ="Martin Kasman, July 1942"/>
        <img src ="static/family-11.jpg" alt ="Martin Kasman, his parents, and his brother, September 1942"/>
        <img src ="static/family-12.jpg" alt ="Martin Kasman, February 1943"/>
        <img src ="static/family-13.jpg" alt ="A uniformed man and a woman kissing on a bench, March 1944"/>
        <img src ="static/family-14.jpg" alt ="Martin Kasman in navy uniform with two friends not in uniforms"/>
        <img src ="static/family-15.jpg" alt ="Woman, February 1944"/>
        <img src ="static/family-16.jpg" alt ="Five women sitting, three are crouching and looking up at Martin Kasman"/>
        <img src ="static/family-17.jpg" alt ="Couple"/>
        <img src ="static/family-18.jpg" alt ="Facade of Kasman deli. A baby sits in a carriage. Man behind baby leans on gumball dispensing machines and looks at the baby. His face is overshadowed by his hat."/>
        <img src ="static/family-19.jpg" alt ="Martin Kasman posing with a woman"/>
        <img src ="static/family-20.jpg" alt ="Martin Kasman in uniform with his parents, April 1945"/>
        <img src ="static/family-21.jpg" alt ="Martin Kasman's parents, Jack and Mary, April 1945"/>
        <img src ="static/family-22.jpg" alt ="Martin Kasman in uniform with a woman, April 1945"/>
        <img src ="static/family-23.jpg" alt ="Martin Kasman in uniform with his mother, a man, and a boy, April 1945"/>
        <img src ="static/family-24.jpg" alt ="Martin Kasman in uniform with a woman, April 1945"/>
        <img src ="static/family-25.jpg" alt ="Martin Kasman and friends posing outside of the Kasman Kosher Deli storefront, March 1942"/>
        <img src ="static/family-26.jpg" alt ="Martin Kasman, image marked April 1942 T.J.H.S."/>
        <img src ="static/family-27.jpg" alt ="Martin Kasman and a friend in bathing suits "/>
        <img src ="static/family-28.jpg" alt ="Woman, March 1944"/>
        <img src ="static/family-29.jpg" alt ="Martin Kasman with his parents and his brother"/>
      </div>
    </section>
  {% endblock %}
