{% extends "base.html" %}
  {% block content %}
    <section id = "center" class = "project2section">
      <img src ="static/nk-image-digitization2.png" alt ="View of Digital Capture Station Setup"/>
      <div class = "project2text">
        <h2>Digititization:<br/>William L. Clements Library</h2>
        <ul>
          <li>Digitize rare books, manuscripts, and graphics for HathiTrust and Clements' Image Bank</li>
        </ul>
        <p>Since September 2015 I have been working at the Clements Library to digitize rare books for HathiTrust.</p>
        <p>I am currently digitizing a collection of pre and post Civil War Slave Narratives.</p>
        <p>Before starting, I spent several weeks setting up an ideal shooting enviornment. To shoot books we use a book cradle, two cameras, and LED lights. Each camera caputers a single page of the book.</p>
        <p>I adjusted camera settings and generated camera profiles to ensure that LightRoom could accurately color calibrate images.</p>
      </div>
    </section>
  {% endblock %}
