{% extends "base.html" %}
  {% block content %}
    <div class = "center-specific-background">
        <section id = "center">
          <div class="myResume">
            <h2>Resume</h2>
            <h3>Professional Experience</h3>
            <h4>Graduate Student Staff Assistant</h4>
            <h5>William L. Clements Library</h5>
            <h6>September 2015 - Present</h6>
            <p><a href = "http://clements.umich.edu/" target="_blank" class="resumelink">William L. Clements Library</a> is a library that collects manuscripts, maps, books, and graphical images produced in America prior to the start of the 20th Century.</p>
            <ul>
              <li>Digitize rare books, manuscripts, and graphics for HathiTrust</li>
              <li>Research and implement digitization standards</li>
              <li>Catalog images for the Library's image repository</li>
            </ul>
            <h4>Archivist/Digital Asset Manager</h4>
            <h5>Vanessa Stevens and Company</h5>
            <h6>March 2013 - July 2015</h6>
            <p><a href = "http://www.vsandcompany.com/" target="_blank" class="resumelink">VS + Company</a> is the photo studio of Raymond Meier as well as a post-production creative services agency.</p>
            <ul>
              <li>Archived Raymond Meier and VS + Company's creative output</li>
              <li>Set up a new RAID-based archival system with LightRoom catalog navigation for Raymond Meier</li>
              <li>Worked with Raymond Meier to combat camera raw software obsolescence issues</li>
              <li>Lead collaborative discussions about possible improvements to the archival and fine art printing workflow</li>
              <li>Cataloged and added metadata for all images</li>
              <li>Produced portfolios and layouts for clients, books, and websites</li>
              <li>Performed brand, image, and magazine research for creative direction projects</li>
              <li>Liaised with Trunk Archive to syndicate Raymond Meier's editorial images</li>
            </ul>
            <p class="top"><a href="#top">*****</a></p>
          </div>
          <div class="push"></div>
        </section>
     </div>
  {% endblock %}
